# macOS
.DS_Store
**/.DS_Store

# Terraform
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfstate.*
*.tfvars
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Editor
.vscode/
.idea/
